  <link rel="stylesheet" href="/CSS/includes/cart.css">
  <div id="cart-modal" class="modal">
        <div class="modal-content">
            <button class="modal-close-button" onclick="toggleCartModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
            <h2 class="modal-title">Shopping Cart</h2>
            
            <div id="cart-items-container" class="cart-items-container">
                <!-- Cart items will be dynamically inserted here -->
            </div>
            
            <div id="cart-summary" class="cart-summary">
                <div class="cart-total">
                    <p id="cart-item-count">Total (0 items)</p>
                    <p id="cart-total-price">$0.00</p>
                </div>
                <div class="cart-buttons">
                    <button class="clear-cart-button" onclick="clearCart()">
                        Clear Cart
                    </button>
                    <button class="checkout-button button-glow" onclick="checkOut()">
                        Checkout
                    </button>
                    <form action="/create-checkout-session" method="post" id="checkoutForm" style="display: none;">
                        <input type="text" name="items" id="checkOutItem">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
       
    </script>