<style>
    :root {
        --dark-background: radial-gradient(ellipse at bottom, #2b0c3f 0%, #0c0816 100%);
        --main-text-color: #fff;
    }

    body {
        font-family: 'Inter', sans-serif;
        background: var(--dark-background);
        color: var(--main-text-color);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .status {
        font-size: 25px;
        font-weight: 800;
        color: gray;
    }

    .message {
        font-size: 20px;
        font-weight: 500;
        color: gray;
    }
</style>
<div class="error">
    <h1 class="status">
        <%= status %>
    </h1>
    <p class="message">
        <%= message %>
    </p>
</div>