
<%- layout('backend_boilerplate.ejs') %>
<link rel="stylesheet" href="/CSS/history.css">
    <div class="history_container">
        <div class="page-header">
            <h1 class="page-title">Activity History</h1>
        </div>

        <div class="timeline-container" id="timeline-container">
            <!-- Timeline items will be dynamically added here -->
        </div>

        <!-- Status Message Box -->
        <div id="status-message" class="message-box"></div>
    </div>
    <script src="/js/history.js"></script>

